@model IEnumerable<SouDizimista.Services.ServicesEntity.ServiceDizimista>

@{
    ViewData["Title"] = "Nossos Dizímistas";
    Layout = "_Layout"; // Especifica o layout principal
}

<h3 class="color-source" ">Nossos Dizímistas</h3>
<hr>

<table >
    <thead>
        <tr>
            <th class="text-source">
                @Html.DisplayName("Nome")
            </th class="text-source">

            <th class="text-source">
                @Html.DisplayName("Valor")
            </th class="text-source">

            <th class="text-source">
                @Html.DisplayName("Opções")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr >
            <td class="text-source">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="text-source">
                @Html.DisplayFor(modelItem => item.ValorDevolucao)
            </td>

            <td>
                @Html.ActionLink("Alterar", "ObterDizimistas",   new { @class = "btn btn-info" })
                @Html.ActionLink("Consultar", "ConsultDizimista", new { id = item.Id }, new {@class = "btn btn-secondary" })
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }
    </tbody>
</table>
