@model IEnumerable<SouDizimista.Services.ServicesEntity.ServiceMenuItem>

@foreach (var menuItem in Model)
{
    <li class="list @(ViewContext.RouteData.Values["controller"]?.ToString() == menuItem.Controller && ViewContext.RouteData.Values["action"]?.ToString() == menuItem.Action ? "active" : "")">
        <a asp-controller="@menuItem.Controller" asp-action="@menuItem.Action">
            <span class="icon"><ion-icon name="@menuItem.Icon"></ion-icon></span>
            <span class="title">@menuItem.Title</span>
        </a>
    </li>
}
